### Creating Sets ###

In [ ]:
## creating an empty set

In [1]:
s = {}
type(s)
#in this case it will consider as dictionary

dict

In [ ]:
## So to create the set. use the set() function

In [2]:
s = set()
type(s)

set

#### a. Using Iterable ####

In [ ]:
# Elements must be immutable

In [3]:
s = {'a',100,(1,2)}
s

{(1, 2), 100, 'a'}

In [4]:
type(s)

set

In [5]:
s = {'a',100,[1,2]}
s

TypeError: unhashable type: 'list'

#### b. Using set() function ####

#### Pass any Iterable ####

In [10]:
s1 = set(range(10))
s1

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
s2 = set([11,22,33])
s2

{11, 22, 33}

In [15]:
s3 = set('python')
s3

{'h', 'n', 'o', 'p', 't', 'y'}

In [16]:
s3 = set('baabaa')
s3

{'a', 'b'}

In [ ]:
## When you iterate over a dictionary you only get the keys

In [17]:
d = {'a':1,'b':2}
s4 = set(d)
s4

{'a', 'b'}

#### c. Set Comprehension ####

In [18]:
s5 = {c for c in [50,23,45,66]}
s5

{23, 45, 50, 66}

In [20]:
s = {c for c in 'moomoo'}
s

{'m', 'o'}

#### Adding Elements ####

In [21]:
s = {89,45,23,78}
s

{23, 45, 78, 89}

In [22]:
s.add('abc')
s

{23, 45, 78, 89, 'abc'}

In [ ]:
# If you add an existing element again, python quietly ignores it

In [23]:
s.add('abc')
s

{23, 45, 78, 89, 'abc'}

#### Removing Elements ####

In [24]:
s

{23, 45, 78, 89, 'abc'}

In [26]:
s.remove(45)
s

{23, 78, 89, 'abc'}

In [ ]:
# This throws an error as there is no such value

In [29]:
s.remove(100)
s

KeyError: 100

In [ ]:
#Remove without errors

In [30]:
s.discard(100)
s

{23, 78, 89, 'abc'}

In [31]:
s.discard(23)
s

{78, 89, 'abc'}

In [ ]:
## Using pop() - does not take an argument
## As there is no ordering, it will remove an arbitrary elements

In [32]:
s

{78, 89, 'abc'}

In [33]:
s.pop()
s

{89, 'abc'}

In [34]:
s.pop()
s

{89}

In [35]:
s.pop()
s

set()

In [ ]:
# removes all elements

In [36]:
s = {89,45,23,78}
s.clear()
s

set()

### Common Operations ###

#### a.len() ####

In [37]:
s = {1,2,3,4}
len(s)

4

#### b. Membership test ####

In [46]:
s5 = {c for c in [50,23,45,66]}
23 in s5 , 40 in s5

(True, False)

In [47]:
s5 = {c for c in [50,23,45,66]}
23 not in s5 , 40 not in s5

(False, True)

#### Efficiency of set compares to other collection ####

In [51]:
n = 1000000
s = set(range(n))
l = list(range(n))
t = tuple(range(n))

In [64]:
def test_set(s,value):
    return value in s

In [61]:
def test_list(l,value):
    return value in l

In [55]:
def test_tup(t,value):
    return value in t

In [56]:
%timeit test_tup(t,100)

1.97 µs ± 42.3 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [58]:
%timeit test_tup(t,900000)

17.4 ms ± 3.14 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [62]:
%timeit test_list(t,100)

3.16 µs ± 459 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [63]:
%timeit test_list(t,900000)

22.7 ms ± 970 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [66]:
%timeit test_set(t,100)

3.39 µs ± 558 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [67]:
%timeit test_list(t,900000)

22.7 ms ± 1.57 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [ ]:
##Efficiency comes at the cost of memory

In [68]:
print(l.sizeof_())
print(t.sizeof_())
print(s.sizeof_())

AttributeError: 'list' object has no attribute 'sizeof_'

### Set Operations ###

#### a. Intersection ####

In [70]:
s1 = {1,2,3}
s2 = {2,3,4}

In [71]:
s1.intersection(s2)

{2, 3}

In [72]:
s1 & s2

{2, 3}

In [73]:
#Intersection of more than 2 sets
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {3,4,5}

In [74]:
s1.intersection(s2,s3)

{3}

In [75]:
s1 & s2  & s3

{3}

#### b. Union ####

In [77]:
s1 = {1,2,3}
s2 = {3,4,5}

In [78]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [79]:
s1 |s2

{1, 2, 3, 4, 5}

In [ ]:
## We can compute the union of more than two sets:

In [82]:
s1 = {1,2,3}
s2 = {3,4,5}
s3 = {5,6,7}

In [83]:
s1.union(s2,s3)

{1, 2, 3, 4, 5, 6, 7}

In [84]:
s1 | s2 | s3

{1, 2, 3, 4, 5, 6, 7}

#### c. Disjointedness ####

#### Two sets are disjoint if their intersection is empty ####

In [86]:
s1 = {1,2,3}
s2 = {2,3,4}
s3 = {30,40,50}

In [87]:
print(s1.isdisjoint(s2))
print(s2.isdisjoint(s3))

False
True

In [88]:
# Another way to test disjointedness
# Check the cardinality of the intersection
len(s1 & s2) , len(s2 & s3)

(2, 0)

#### d. Difference ####

#### Note:- The difference operator is commutatice ####
#### ie ;  s1 - s2 ≠ s2 - s1 ####

In [91]:
s1 ={1,2,3,4,5}

In [92]:
s2 = {4,5}

In [93]:
s1 - s2

{1, 2, 3}

In [94]:
s1.difference(s2)

{1, 2, 3}

#### e. Symmetric Difference ####

#### The symmetric difference of two sets results in the difference of the union and the ntersection of the two sets: ####

In [95]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

In [96]:
s1.symmetric_difference(s2)

{1, 2, 3, 6, 7, 8}

In [97]:
(s1|s2)-(s1&s2)

{1, 2, 3, 6, 7, 8}

#### f. Subset and Supersets ####

In [100]:
s1 = {1,2,3}

In [101]:
s2 = {1,2,3}

In [102]:
s3 = {1,2,3,4}

In [103]:
s4 = {10,20,30}

In [104]:
s1.issubset(s2)

True

In [105]:
s1<=s2

True

In [106]:
# Proper subset
s1 < s2

False

In [107]:
#s1 is a proper subset of s3
s1 < s3

True

In [108]:
#Similar tests for superset
s2.issuperset(s1)

True

In [109]:
s2 >= s1

True

In [110]:
s2 >s1

False